# Arquivos e pastas do Python
# ==========================

# Ambientes Virtuais
venv/
env/
.venv/
.env/
*/venv/
*/env/
*/.venv/
*/.env/

# Cache de Bytecode e Otimizados
__pycache__/
*.py[cod]
*$py.class

# Distribuição / Empacotamento
build/
dist/
*.egg-info/
*.egg

# Django
# ========
# Banco de dados local
db.sqlite3
*.sqlite
*.sqlite3

# Arquivos Estáticos Coletados (Ajuste 'staticfiles' se seu STATIC_ROOT for diferente)
staticfiles/

# Arquivos de Mídia (Se houver uploads de usuário)
# media/


# Terraform
# ==========
# Arquivos de estado local (Ignore se não usar backend remoto S3)
*.tfstate
*.tfstate.backup

# Arquivos de log de crash
crash.log
crash.*.log

# Arquivos .tfvars (geralmente contêm segredos/configs de ambiente)
*.tfvars
*.tfvars.json

# Arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Arquivos de plano do Terraform
terraform.tfplan
*.tfplan

# Diretório do Terraform com plugins e módulos
.terraform/

# Arquivo de bloqueio de dependência - DEVE SER versionado
# !.terraform.lock.hcl # Comentado pois o padrão é não ignorar, mas para clareza


# Outros
# =======
# Arquivos de configuração específicos do IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente (SECRETS!)
.env
*.env

# Arquivos de log genéricos
*.log

# Arquivos de cobertura de teste
.coverage
htmlcov/

# Arquivos específicos do projeto (REVISE SE REALMENTE PRECISA IGNORAR)
# lista_comandos.txt